<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PetFinder by grupoCUATRO .. MIG</title>
</head>

<script type="text/javascript" src="http://streamed.in/static/js/jquery-1.4.1.min.js"></script>
    <script>
    $(document).ready(function(){
        var s = $('#obj1').html();
        s = s.replace(/<li>/g,'#');
        s = s.replace(/<\/li>/g,'<br/>');
        $('#obj1').html(s);
    });
    </script>
<body id="obj1">
  <li>omg 1</li>
    <li>omg 2</li>
    <li>omg 3</li>
    <li>omg 4</li>





  {{!-- Header --}}
  <header id="header" class="alt">
    <div class="logo"><a href="/">PetFinder Heroku<span> by GRUPOCUATRO</span></a></div>
    <a href="#menu">Menu</a>
  </header>


  {{!-- Nav --}}
  <nav id="menu">
    <ul class="links">
      <li><a href="/">home</a></li>
      <li><a href="/iFoundAPet">i found a pet</a></li>
      <li><a href="/post">see the pet</a></li>
      <li><a href="/petSearch">search all pets</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </nav>

  {{{body}}}

  {{!-- Footer --}}
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="https://twitter.com/peraltawave" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/peraltawavepixels" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/peraltawavepixels/" class="icon fa-instagram" target="_blank"><span
              class="label">Instagram</span></a></li>
        <li><a href="http://www.mperalta.com/" class="icon fa-envelope-o" target="_blank"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy;
      <script>document.write(new Date().getFullYear());</script> Grupo Cuatro<br>All rights reserved.
    </div>
  </footer>

  {{!-- Scripts --}}
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.scrollex.min.js"></script>
  <script src="js/skel.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>

</body>

</html>