<body class="subpage">
  {{!-- Header --}}
  <header id="header" class="alt">
    <div class="logo"><a href="/">PetFinder Heroku<span> by GRUPOCUATRO</span></a></div>
    <a href="#menu">About Menu</a>
  </header>


  {{!-- Nav --}}
  <nav id="menu">
    <ul class="links">
      <li><a href="/">home</a></li>
      <li><a href="/iFoundAPet">i found a pet</a></li>
      <li><a href="/post">see the pet</a></li>
      <li><a href="/petSearch">search all pets</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </nav>



  <div class="12u 12u$(small)">
    {{!-- Blockquote --}}
    <b style="font-size: 1.25em; padding-bottom: 1em;" class="12u 12u$(small);">Inspiration</b>
    <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis
      eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
      adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum
      ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>

  </div>