

<section id="two" class="wrapper style2">
  <div class="inner">
    <div class="box">
      <div class="content">
        <header class="align-center">
          <p style="color:#cccccc">made by grupocuatro</p>
          <h2>About PetFinder</h2>
        </header>


        <form action="post.html" method="get">
          <div class="row uniform">
            <div class="12u 12u$"><b style="font-size: 1.25em;">About this App</b></div>
            <div class="12u 12u$(small)">
              <span class="image fit"><img src="images/dog_pic01.jpg" alt="" /></span>
            </div>
            {{!-- Break --}}
            <div class="12u 12u$(small)">
              {{!-- Blockquote --}}
              <b style="font-size: 1.25em; padding-bottom: 1em;" class="12u 12u$(small);">Inspiration</b>
              <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis
                eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum
                ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>

            </div>
            <b style="font-size: 1.25em; margin-bottom: 0px;" class="12u 12u$(small);">Team</b>
            <div class="3u 12u$(small)">
              <p><span class="image left"><img src="images/alex.png" alt="" /></span>Team Member:<b>Alex</b></p>
            </div>
            <div class="3u 12u$(small)">
              <p><span class="image left"><img src="images/josh.png" alt="" /></span>Team Member:<b>Josh</b></p>
            </div>
            <div class="3u 12u$(small)">
              <p><span class="image left"><img src="images/bilal.png" alt="" /></span>Team Member:<b>Bilal</b></p>
            </div>
            <div class="3u 12u$(small)">
              <p><span class="image left"><img src="images/mig.jpg" alt="" /></span>Team Member:<b>Miguel</b></p>
            </div>





          </div>
      </div>


    </div>
    </form>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dignissim augue, in iaculis neque.
      Etiam
      bibendum felis ac vulputate pellentesque. Cras non blandit quam. Nunc porta, est non posuere sagittis,
      neque nunc
      pellentesque diam, a iaculis lacus urna vitae purus. In non dui vel est tempor faucibus. Aliquam erat
      volutpat.
      Quisque vel est vitae nibh laoreet auctor. In nec libero dui. Nulla ullamcorper, dolor nec accumsan
      viverra,
      libero eros rutrum metus, vel lacinia magna odio non nunc. Praesent semper felis eu rhoncus aliquam.
      Donec at
      quam ac libero vestibulum pretium. Nunc faucibus vel arcu in malesuada. Aenean at velit odio.
      Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas commodo erat eget
      molestie
      sollicitudin. Donec imperdiet, ex sed blandit dictum, ipsum metus ultrices arcu, vitae euismod nisl
      sapien vitae
      tortor.</p>
  </div>
  </div>
  </div>
</section>