{{!--
<link rel="stylesheet" href="css/main.css" /> --}}

<h1>I Found A Pet Form</h1>
<div class="box alt">
    <div class="row 50% uniform">
        <form method="POST" action="/iFoundAPet">

            <div class="4u"><input type="text" name="animalSpecies" id="query" value="" placeholder="Species" /></div>

            <div class="4u$"><input type="radio" name="animalGenderMale" value="male" id="priority-low">Male</div>

            <div class="4u"><input type="radio" name="animalGenderMale" value="female" id="priority-normal">Female</div>

            <div class="4u$"><input type="text" name="animalPic" id="query" value="" placeholder="Pic" /></div>

            <div class="4u"><input type="text" name="animalFeatures" id="query" value="" placeholder="Distinguishing Features" /></div>

            <div class="4u$"><input type="text" name="foundStreet1" id="query" value="" placeholder="Cross Street One" /></div>

            <div class="4u"><input type="text" name="foundStreet2" id="query" value="" placeholder="Cross Street Two" /></div>

            <div class="4u$"><input type="text" name="personName" id="query" value="" placeholder="Human Name" /></div>

            <div class="4u"><input type="text" name="personEmail" id="query" value="" placeholder="Human Email" /></div>

            <div class="4u$"><input type="submit" value="Submit Post" class="fit" /></div>
            {{!-- <button type="submit">Submit Post</button> --}}
        </form>
    </div>
</div>